[submodule "ranger"]
	path = ranger
	url = https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer.git 
	branch = master
[submodule "WaveRNN"]
	path = WaveRNN
	url = https://github.com/geneing/WaveRNN.git
	branch = master
